<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Search test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bower_components/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
  </head>
  <body ng-controller="SearchCtrl">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Try to search the teachers!</a>
        </div>
      </div>
    </div>

    <div class="container theme-showcase" role="main">
      <form class="search-box" ng-submit="submit()">
        <div class="btn-group">
          <label class="btn btn-success" ng-model="search.day" btn-radio="'0'" uncheckable>Monday</label>
          <label class="btn btn-success" ng-model="search.day" btn-radio="'1'" uncheckable>Tuesday</label>
          <label class="btn btn-success" ng-model="search.day" btn-radio="'2'" uncheckable>Wednesday</label>
          <label class="btn btn-success" ng-model="search.day" btn-radio="'3'" uncheckable>Thursday</label>
          <label class="btn btn-success" ng-model="search.day" btn-radio="'4'" uncheckable>Friday</label>
          <label class="btn btn-success" ng-model="search.day" btn-radio="'5'" uncheckable>Saturday</label>
          <label class="btn btn-success" ng-model="search.day" btn-radio="'6'" uncheckable>Sunday</label>
        </div>

        <hr/>

        <div class="row">
          <div class="col-md-6">
            <label>Time</label>
            <select ng-model="search.startTime" ng-options="time as time for time in startTime"></select>

            <select ng-model="search.toTime" ng-options="time as time for time in startTime"></select>
          </div>
          <div class="col-md-3">
            <label>Sex</label>
            <select ng-model="search.gender">
              <option value="male">Man</option>
              <option value="female">Woman</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Age</label>
            <select ng-model="search.age" ng-options="obj.value as obj.text for obj in ages"></select>
          </div>
        </div>

        <div class="row">
          <label ng-repeat="specility in popularSpecilities">
            <input type="checkbox" value="{{specility}}"
                   name="specility[]"
                   ng-checked="selection.indexOf(specility) > -1"
                   ng-click="toggleSelection(specility)"/> {{specility}}
          </label>
        </div>
        <div class="row">
          <label>
            <input type="radio" value="beginner" ng-model="search.level" name="level" /> Beginner
          </label>
          <label>
            <input type="radio" value="advanced" ng-model="search.level" name="level" /> Advanced
          </label>
          <label>
            <input type="radio" value="favorite" ng-model="search.level" name="level"  /> Favorite
          </label>
        </div>

        <div class="row">
          <!--<input type="text" ng-model="keywords" ng-keyup="searchKeywords()" />-->
          <input type="text" ng-model="keywords" placeholder="Keywords"
                 typeahead="speciality for speciality in searchKeywords($viewValue)"
                 typeahead-loading="loading"
                 typeahead-wait-ms="500"
                 class="form-control">
          <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>
        </div>
        <div class="row">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </form>

      <hr/>

      <div class="row">
        <div class="col-md-3" ng-repeat="user in users">
          <h3>{{user.displayName}}</h3>
          <div class="clearfix"></div>
          <img ng-src="{{user.picture}}" alt="..." class="img-thumbnail">
        </div>
      </div>

    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.underscore.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/restangular/dist/restangular.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
